@import "fonts.css";

.text-container {
    text-align: center;
}

.display-text {
    color: blue;
    font-size: 25vw;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

body {
    background: #FCFCFC;
    margin: 0;
}

.header {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

.logo {
    margin-left: 1em;
    font-size: .8em;
    font-family: Avenir Next UltraLight;
}

.tabs {
    margin-right: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tab, .tab-selected {
    color: grey;
    font-family: Avenir Next Regular;
    font-size: .7em;
    cursor: pointer;
    padding: 0px 12px;
    border-bottom: 2px solid rgba(0,0,0,.1);
}

.tab:hover, .tab-selected:hover {
}

.tab-selected {
    color: #326dff;
    border-bottom: 2px solid #326dff;
    font-family: Avenir Next Medium;
}


.card {
    background: white;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
    padding: 10px;
}

/*
input[type=text], input[type=password] {
    background-color: #FCFCFC;
    border: 1px solid grey;
    margin: 0;
    padding: 8px 10px;
    border-radius: 4px;
    font-size: .85em;
}
*/

input[type=submit] {
/*    font-family: Avenir Next Regular; */
}


.account-details {
    margin: 50px auto;
    padding: 20px;
}

.todos {
    margin: auto;
    padding: 20px;
    width: 80%;
}

.todos-table {
    width: 100%;
}

.todos-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todos-title-text {
    font-size: 1em;
    line-height: 1em;
    margin: 10px auto;
    font-family: Avenir Next Regular;
}

.cli {
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.cli-output {
    box-shadow: inset 0px 0px 9px 0px rgba(0,0,0,0.25);
    max-height: 300px;
    overflow: scroll;
    padding: 3px;
    font-size: .7em;
    line-height: 1.2em;
    white-space: pre-wrap;
    font-family: monospace;
}

.cli-input {
    border-top: 1px solid #CCCCCC;
    margin-top: 5px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
}

.cli-input-icon {
    font-size: 17px;
}

.cli-input-text-container {
    width: 100% !important;
}

.cli-input-text-field {
    width: 100%;
}

.todo-in-progress {
    animation:pulse 3s infinite alternate;
    animation-timing-function: ease-in-out;
}

@keyframes pulse {
    from {
        background: rgba(0,255,163,0.05);
    }
    to {
        background: rgba(0,255,163,0.30);
    }
}

.root {
    display: flex;
    flex-direction: column;
}

@keyframes pulse-blue {
    0% {
        background: rgba(49,109,255,0.80);
        box-shadow:0 0 2px #326dff;
    }
    50% {
        background: rgba(49,109,255,1.00);
        box-shadow:0 0 16px #326dff;
    }
    100% {
        background: rgba(49,109,255,0.80);
        box-shadow:0 0 2px #326dff;
    }
}

.current-location {
    border: 1px solid white;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    animation: pulse-blue 3s ease-in-out 1s infinite;
}
